[Unit]
Description=data center board service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/dl/esp32/data-link/.linux/run.sh
User=root
WorkingDirectory=/home/dl/esp32/data-link/.linux/
Restart=on-failure

[Install]
WantedBy=multi-user.target
